In [1]:
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options 
import selenium.webdriver.support.ui as ui
import time
chrome_options = Options()  
chrome_options.add_argument("--headless")
br = webdriver.Chrome(chrome_options=chrome_options, executable_path=r'./chromedriver.exe')

In [2]:
def scraping_income(city, row):
  
    br.get("https://factfinder.census.gov/faces/nav/jsf/pages/community_facts.xhtml")
    wait = ui.WebDriverWait(br,15)
    time.sleep(1.5)
    # Types search terms for a course
    element = wait.until(lambda br:br.find_element_by_id('cfsearchtextbox'))
    element.clear()
    element.send_keys(city)

    # Submits form
    element =  wait.until(lambda br: br.find_element_by_xpath('//*[@id="communityfactssubmit"]'))
    element.click()

    # Clicking the income tab
    time.sleep(1.5)
    element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="leftnav"]/a[7]'))
    element.click()

    # Getting table link
    time.sleep(1.5)
    element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="cf-content"]/div[2]/div[1]/ul[1]/li[1]/div/a'))
    href = element.get_attribute('href')
    br.get(href)
    
    #time.sleep(1)

    #for i in range(0, 5):
   #     element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="data"]/tbody/tr[79]/td[1]'))
    #    df.iloc[row, i] = element.text
   #     print('//*[@id="year_selector_content"]/ul/li['+ str(i+2) +']/a')
   #     element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="year_selector_content"]/ul/li['+ str(i+2) +']/a'))
   #     element.click()
   #     time.sleep(1.25)

   # element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="data"]/tbody/tr[79]/td[1]'))
   # df.iloc[row, 6] = element.text


    # Getting the average 2016 income
    time.sleep(1.5)
    element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="data"]/tbody/tr[79]/td[1]'))
    df.iloc[row, 0] = element.text

    # Clicking on 2015
    element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="year_selector_content"]/ul/li[2]/a'))
    element.click()

    # Getting the average 2015 income
    time.sleep(1.5)
    element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="data"]/tbody/tr[79]/td[1]'))
    df.iloc[row, 1] = element.text
    
    # Clicking on 2014
    element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="year_selector_content"]/ul/li[3]/a'))
    element.click()
    
    # Getting the average 2014 income
    time.sleep(1.5)
    element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="data"]/tbody/tr[79]/td[1]'))
    df.iloc[row, 2] = element.text
    
    # Clicking on 2013
    element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="year_selector_content"]/ul/li[4]/a'))
    element.click()
    
    # Getting the average 2013 income
    time.sleep(1.5)
    element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="data"]/tbody/tr[79]/td[1]'))
    df.iloc[row, 3] = element.text
    
    # Clicking on 2012
    element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="year_selector_content"]/ul/li[5]/a'))
    element.click()
    
    # Getting the average 2012 income
    time.sleep(1.5)
    element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="data"]/tbody/tr[79]/td[1]'))
    df.iloc[row, 4] = element.text
    
    # Clicking on 2011
    element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="year_selector_content"]/ul/li[6]/a'))
    element.click()
    
    # Getting the average 2011 income
    time.sleep(1.5)
    element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="data"]/tbody/tr[79]/td[1]'))
    df.iloc[row, 5] = element.text
    
    # Clicking on 2010
    element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="year_selector_content"]/ul/li[7]/a'))
    element.click()
    
    time.sleep(1.5)
    element = wait.until(lambda br:br.find_element_by_xpath('//*[@id="data"]/tbody/tr[79]/td[1]'))
    df.iloc[row, 6] = element.text

# The next cell is where we get the list of the cities that we are working with.

In [3]:
cities = [line.rstrip('\n\r') for line in open('./cities.txt')]

df = pd.DataFrame(columns=["City", "Mean Income 2016", "Mean Income 2015", "Mean Income 2014", "Mean Income 2013",
                  "Mean Income 2012", "Mean Income 2011", "Mean Income 2010"])
data = pd.DataFrame({"City": range(len(cities))})
df = df.append(data)

for i, row in df.iterrows():
    row.loc['City'] = cities[i]

# Reverse the column order (ie 2010 to 2016)
df = df.iloc[:, ::-1]

for i, city in enumerate(cities):
    scraping_income(city, i)
    print(city+str(i))
    display(df)
    

df = df.set_index('City')

df.to_csv('cities_income.csv', encoding='utf-8', index=False)
br.quit()

Birmingham, AL0

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montgomery, AL"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Anchorage, AK"
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Juneau, AK"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Phoenix, AZ"
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tucson, AZ"
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Little Rock, AR"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Fort Smith, AR"
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"San Diego, CA"
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Los Angeles, CA"
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sacramento, CA"
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Denver, CO"
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Colorado Springs, CO"
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aurora, CO"
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bridgeport, CT"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Montgomery, AL1

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Anchorage, AK"
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Juneau, AK"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Phoenix, AZ"
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tucson, AZ"
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Little Rock, AR"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Fort Smith, AR"
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"San Diego, CA"
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Los Angeles, CA"
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sacramento, CA"
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Denver, CO"
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Colorado Springs, CO"
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aurora, CO"
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bridgeport, CT"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Anchorage, AK2

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Juneau, AK"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Phoenix, AZ"
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tucson, AZ"
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Little Rock, AR"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Fort Smith, AR"
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"San Diego, CA"
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Los Angeles, CA"
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sacramento, CA"
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Denver, CO"
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Colorado Springs, CO"
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aurora, CO"
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bridgeport, CT"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Juneau, AK3

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Phoenix, AZ"
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tucson, AZ"
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Little Rock, AR"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Fort Smith, AR"
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"San Diego, CA"
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Los Angeles, CA"
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sacramento, CA"
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Denver, CO"
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Colorado Springs, CO"
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aurora, CO"
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bridgeport, CT"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Phoenix, AZ4

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tucson, AZ"
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Little Rock, AR"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Fort Smith, AR"
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"San Diego, CA"
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Los Angeles, CA"
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sacramento, CA"
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Denver, CO"
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Colorado Springs, CO"
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aurora, CO"
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bridgeport, CT"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Tucson, AZ5

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Little Rock, AR"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Fort Smith, AR"
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"San Diego, CA"
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Los Angeles, CA"
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sacramento, CA"
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Denver, CO"
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Colorado Springs, CO"
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aurora, CO"
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bridgeport, CT"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Little Rock, AR6

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Fort Smith, AR"
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"San Diego, CA"
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Los Angeles, CA"
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sacramento, CA"
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Denver, CO"
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Colorado Springs, CO"
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aurora, CO"
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bridgeport, CT"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Fort Smith, AR7

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"San Diego, CA"
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Los Angeles, CA"
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sacramento, CA"
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Denver, CO"
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Colorado Springs, CO"
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aurora, CO"
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bridgeport, CT"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

San Diego, CA8

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Los Angeles, CA"
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sacramento, CA"
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Denver, CO"
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Colorado Springs, CO"
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aurora, CO"
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bridgeport, CT"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Los Angeles, CA9

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sacramento, CA"
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Denver, CO"
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Colorado Springs, CO"
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aurora, CO"
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bridgeport, CT"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Sacramento, CA10

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Denver, CO"
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Colorado Springs, CO"
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aurora, CO"
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bridgeport, CT"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Denver, CO11

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Colorado Springs, CO"
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aurora, CO"
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bridgeport, CT"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Colorado Springs, CO12

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aurora, CO"
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bridgeport, CT"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Aurora, CO13

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Bridgeport, CT"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Bridgeport, CT14

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Hartford, CT15

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Dover, DE16

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Wilmington, DE17

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Jacksonville, FL18

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Miami, FL19

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Tallahassee, FL20

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Atlanta, GA21

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Savannah, GA22

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Honolulu, HI23

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Kauai, HI24

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Maui, HI25

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Boise, ID26

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Meridian, ID27

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Chicago, IL28

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Springfield, IL29

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Fort Wayne, IN30

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Indianapolis, IN31

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Cedar Rapids, IA32

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Des Moines, IA33

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Topeka, KS34

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Wichita, KS35

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Frankfort, KY36

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Louisville, KY37

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Baton Rouge, LA38

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

New Orleans, LA39

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Augusta, ME40

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Portland, ME41

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Baltimore, MD42

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Annapolis, MD43

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Boston, MA44

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Worcester, MA45

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Detroit, MA46

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Lansing, MA47

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Minneapolis, MN48

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Saint Paul, MN49

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Jackson, MS50

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Gulfport, MS51

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Kansas City, MO52

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Jefferson City, MO53

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Billings, MT54

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Helena, MT55

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Lincoln, NE56

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Omaha, NE57

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Carson City, NV58

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Las Vegas, NV59

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Reno, NV60

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Concord, NH61

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Manchester, NH62

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Newark, NJ63

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Trenton, NJ64

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Albuquerque, NM65

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Santa Fe, NM66

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Albany, NY67

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

New York City, NY68

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Charlotte, NC69

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Raleigh, NC70

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Bismarck, ND71

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Fargo, ND72

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Columbus, OH73

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Cleveland, OH74

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Oklahoma City, OK75

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Tulsa, OK76

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Portland, OR77

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Salem, OR78

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Harrisburg, PA79

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Philadelphia, PA80

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Providence, RI81

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Warwick, RI82

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Charleston, SC83

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Columbia, SC84

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Pierre, SD85

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Sioux Falls, SD86

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Nashville, TN87

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Memphis, TN88

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Austin, TX89

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

El Paso, TX90

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Houston, TX91

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,"46,814","47,040","48,127","51,250","51,914","50,611","48,323","Houston, TX"
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Salt Lake city, UT92

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,"46,814","47,040","48,127","51,250","51,914","50,611","48,323","Houston, TX"
92,"75,847","72,922","69,662","69,724","66,346","64,801","62,792","Salt Lake city, UT"
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

West Valley City, UT93

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,"46,814","47,040","48,127","51,250","51,914","50,611","48,323","Houston, TX"
92,"75,847","72,922","69,662","69,724","66,346","64,801","62,792","Salt Lake city, UT"
93,"65,827","61,492","61,623","60,009","60,042","60,051","58,837","West Valley City, UT"
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Burlington, VT94

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,"46,814","47,040","48,127","51,250","51,914","50,611","48,323","Houston, TX"
92,"75,847","72,922","69,662","69,724","66,346","64,801","62,792","Salt Lake city, UT"
93,"65,827","61,492","61,623","60,009","60,042","60,051","58,837","West Valley City, UT"
94,"63,415","61,169","61,367","61,229","59,896","58,632","56,707","Burlington, VT"
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Montpelier, VT95

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,"46,814","47,040","48,127","51,250","51,914","50,611","48,323","Houston, TX"
92,"75,847","72,922","69,662","69,724","66,346","64,801","62,792","Salt Lake city, UT"
93,"65,827","61,492","61,623","60,009","60,042","60,051","58,837","West Valley City, UT"
94,"63,415","61,169","61,367","61,229","59,896","58,632","56,707","Burlington, VT"
95,"72,013","72,017","68,125","71,385","70,408","67,861","63,892","Montpelier, VT"
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Richmond, VA96

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,"46,814","47,040","48,127","51,250","51,914","50,611","48,323","Houston, TX"
92,"75,847","72,922","69,662","69,724","66,346","64,801","62,792","Salt Lake city, UT"
93,"65,827","61,492","61,623","60,009","60,042","60,051","58,837","West Valley City, UT"
94,"63,415","61,169","61,367","61,229","59,896","58,632","56,707","Burlington, VT"
95,"72,013","72,017","68,125","71,385","70,408","67,861","63,892","Montpelier, VT"
96,"56,748","58,774","61,340","61,382","62,477","58,993","53,407","Richmond, VA"
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Virginia Beach, VA97

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,"46,814","47,040","48,127","51,250","51,914","50,611","48,323","Houston, TX"
92,"75,847","72,922","69,662","69,724","66,346","64,801","62,792","Salt Lake city, UT"
93,"65,827","61,492","61,623","60,009","60,042","60,051","58,837","West Valley City, UT"
94,"63,415","61,169","61,367","61,229","59,896","58,632","56,707","Burlington, VT"
95,"72,013","72,017","68,125","71,385","70,408","67,861","63,892","Montpelier, VT"
96,"56,748","58,774","61,340","61,382","62,477","58,993","53,407","Richmond, VA"
97,"85,960","83,834","84,615","82,870","82,827","82,073","80,180","Virginia Beach, VA"
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Olympia, WA98

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,"46,814","47,040","48,127","51,250","51,914","50,611","48,323","Houston, TX"
92,"75,847","72,922","69,662","69,724","66,346","64,801","62,792","Salt Lake city, UT"
93,"65,827","61,492","61,623","60,009","60,042","60,051","58,837","West Valley City, UT"
94,"63,415","61,169","61,367","61,229","59,896","58,632","56,707","Burlington, VT"
95,"72,013","72,017","68,125","71,385","70,408","67,861","63,892","Montpelier, VT"
96,"56,748","58,774","61,340","61,382","62,477","58,993","53,407","Richmond, VA"
97,"85,960","83,834","84,615","82,870","82,827","82,073","80,180","Virginia Beach, VA"
98,"71,230","68,490","67,878","67,497","66,467","66,867","64,831","Olympia, WA"
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Seattle, WA99

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,"46,814","47,040","48,127","51,250","51,914","50,611","48,323","Houston, TX"
92,"75,847","72,922","69,662","69,724","66,346","64,801","62,792","Salt Lake city, UT"
93,"65,827","61,492","61,623","60,009","60,042","60,051","58,837","West Valley City, UT"
94,"63,415","61,169","61,367","61,229","59,896","58,632","56,707","Burlington, VT"
95,"72,013","72,017","68,125","71,385","70,408","67,861","63,892","Montpelier, VT"
96,"56,748","58,774","61,340","61,382","62,477","58,993","53,407","Richmond, VA"
97,"85,960","83,834","84,615","82,870","82,827","82,073","80,180","Virginia Beach, VA"
98,"71,230","68,490","67,878","67,497","66,467","66,867","64,831","Olympia, WA"
99,"104,590","98,271","94,559","91,765","89,319","87,707","85,321","Seattle, WA"
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Charleston, WV100

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,"46,814","47,040","48,127","51,250","51,914","50,611","48,323","Houston, TX"
92,"75,847","72,922","69,662","69,724","66,346","64,801","62,792","Salt Lake city, UT"
93,"65,827","61,492","61,623","60,009","60,042","60,051","58,837","West Valley City, UT"
94,"63,415","61,169","61,367","61,229","59,896","58,632","56,707","Burlington, VT"
95,"72,013","72,017","68,125","71,385","70,408","67,861","63,892","Montpelier, VT"
96,"56,748","58,774","61,340","61,382","62,477","58,993","53,407","Richmond, VA"
97,"85,960","83,834","84,615","82,870","82,827","82,073","80,180","Virginia Beach, VA"
98,"71,230","68,490","67,878","67,497","66,467","66,867","64,831","Olympia, WA"
99,"104,590","98,271","94,559","91,765","89,319","87,707","85,321","Seattle, WA"
100,"75,186","75,902","76,172","78,134","75,647","73,861","67,140","Charleston, WV"
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Huntington, WV101

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,"46,814","47,040","48,127","51,250","51,914","50,611","48,323","Houston, TX"
92,"75,847","72,922","69,662","69,724","66,346","64,801","62,792","Salt Lake city, UT"
93,"65,827","61,492","61,623","60,009","60,042","60,051","58,837","West Valley City, UT"
94,"63,415","61,169","61,367","61,229","59,896","58,632","56,707","Burlington, VT"
95,"72,013","72,017","68,125","71,385","70,408","67,861","63,892","Montpelier, VT"
96,"56,748","58,774","61,340","61,382","62,477","58,993","53,407","Richmond, VA"
97,"85,960","83,834","84,615","82,870","82,827","82,073","80,180","Virginia Beach, VA"
98,"71,230","68,490","67,878","67,497","66,467","66,867","64,831","Olympia, WA"
99,"104,590","98,271","94,559","91,765","89,319","87,707","85,321","Seattle, WA"
100,"75,186","75,902","76,172","78,134","75,647","73,861","67,140","Charleston, WV"
101,"48,593","48,573","46,639","46,935","45,313","44,410","43,087","Huntington, WV"
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Madison, WI102

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,"46,814","47,040","48,127","51,250","51,914","50,611","48,323","Houston, TX"
92,"75,847","72,922","69,662","69,724","66,346","64,801","62,792","Salt Lake city, UT"
93,"65,827","61,492","61,623","60,009","60,042","60,051","58,837","West Valley City, UT"
94,"63,415","61,169","61,367","61,229","59,896","58,632","56,707","Burlington, VT"
95,"72,013","72,017","68,125","71,385","70,408","67,861","63,892","Montpelier, VT"
96,"56,748","58,774","61,340","61,382","62,477","58,993","53,407","Richmond, VA"
97,"85,960","83,834","84,615","82,870","82,827","82,073","80,180","Virginia Beach, VA"
98,"71,230","68,490","67,878","67,497","66,467","66,867","64,831","Olympia, WA"
99,"104,590","98,271","94,559","91,765","89,319","87,707","85,321","Seattle, WA"
100,"75,186","75,902","76,172","78,134","75,647","73,861","67,140","Charleston, WV"
101,"48,593","48,573","46,639","46,935","45,313","44,410","43,087","Huntington, WV"
102,"75,870","73,324","72,338","70,803","70,651","69,758","67,973","Madison, WI"
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Milwaukee, WI103

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,"46,814","47,040","48,127","51,250","51,914","50,611","48,323","Houston, TX"
92,"75,847","72,922","69,662","69,724","66,346","64,801","62,792","Salt Lake city, UT"
93,"65,827","61,492","61,623","60,009","60,042","60,051","58,837","West Valley City, UT"
94,"63,415","61,169","61,367","61,229","59,896","58,632","56,707","Burlington, VT"
95,"72,013","72,017","68,125","71,385","70,408","67,861","63,892","Montpelier, VT"
96,"56,748","58,774","61,340","61,382","62,477","58,993","53,407","Richmond, VA"
97,"85,960","83,834","84,615","82,870","82,827","82,073","80,180","Virginia Beach, VA"
98,"71,230","68,490","67,878","67,497","66,467","66,867","64,831","Olympia, WA"
99,"104,590","98,271","94,559","91,765","89,319","87,707","85,321","Seattle, WA"
100,"75,186","75,902","76,172","78,134","75,647","73,861","67,140","Charleston, WV"
101,"48,593","48,573","46,639","46,935","45,313","44,410","43,087","Huntington, WV"
102,"75,870","73,324","72,338","70,803","70,651","69,758","67,973","Madison, WI"
103,"62,382","60,361","59,527","58,861","58,729","58,199","57,317","Milwaukee, WI"
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Casper, WY104

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,"46,814","47,040","48,127","51,250","51,914","50,611","48,323","Houston, TX"
92,"75,847","72,922","69,662","69,724","66,346","64,801","62,792","Salt Lake city, UT"
93,"65,827","61,492","61,623","60,009","60,042","60,051","58,837","West Valley City, UT"
94,"63,415","61,169","61,367","61,229","59,896","58,632","56,707","Burlington, VT"
95,"72,013","72,017","68,125","71,385","70,408","67,861","63,892","Montpelier, VT"
96,"56,748","58,774","61,340","61,382","62,477","58,993","53,407","Richmond, VA"
97,"85,960","83,834","84,615","82,870","82,827","82,073","80,180","Virginia Beach, VA"
98,"71,230","68,490","67,878","67,497","66,467","66,867","64,831","Olympia, WA"
99,"104,590","98,271","94,559","91,765","89,319","87,707","85,321","Seattle, WA"
100,"75,186","75,902","76,172","78,134","75,647","73,861","67,140","Charleston, WV"
101,"48,593","48,573","46,639","46,935","45,313","44,410","43,087","Huntington, WV"
102,"75,870","73,324","72,338","70,803","70,651","69,758","67,973","Madison, WI"
103,"62,382","60,361","59,527","58,861","58,729","58,199","57,317","Milwaukee, WI"
104,"74,867","73,761","73,296","72,340","72,323","73,620","69,635","Casper, WY"
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cheyenne, WY"

Cheyenne, WY105

,Mean Income 2016,Mean Income 2015,Mean Income 2014,Mean Income 2013,Mean Income 2012,Mean Income 2011,Mean Income 2010,City
0,"46,346","44,463","44,447","44,716","44,710","45,423","45,198","Birmingham, AL"
1,"63,847","62,201","62,568","62,418","61,896","62,645","61,229","Montgomery, AL"
2,"102,500","99,630","98,317","96,935","95,632","94,073","91,251","Anchorage, AK"
3,"104,005","102,355","97,588","96,025","95,433","93,994","89,373","Juneau, AK"
4,"69,216","66,345","65,770","65,199","65,968","66,709","66,996","Phoenix, AZ"
5,"51,035","50,150","50,184","49,879","49,802","49,652","48,944","Tucson, AZ"
6,"72,819","71,162","69,979","68,869","69,255","68,959","68,139","Little Rock, AR"
7,"55,054","55,079","57,320","55,840","54,918","56,633","53,991","Fort Smith, AR"
8,"90,685","87,081","86,416","84,889","84,653","84,949","83,941","San Diego, CA"
9,"85,514","82,941","82,109","81,416","81,729","81,636","79,658","Los Angeles, CA"
10,"76,827","74,159","73,456","72,200","72,554","73,150","72,390","Sacramento, CA"
11,"83,293","79,959","77,658","74,746","73,079","71,297","68,203","Denver, CO"
12,"75,151","73,625","72,709","71,712","71,493","70,937","69,323","Colorado Springs, CO"
13,"66,967","61,548","57,955","58,113","54,836","55,033","54,241","Aurora, CO"
14,"58,870","56,565","55,697","54,649","52,695","53,158","52,147","Bridgeport, CT"
15,"91,795","89,684","88,644","87,148","85,910","84,961","82,823","Hartford, CT"
16,"59,711","58,033","57,825","58,583","59,307","59,811","58,073","Dover, DE"
17,"62,805","61,155","60,117","60,183","60,325","59,675","58,394","Wilmington, DE"
18,"65,581","64,229","64,141","64,136","64,103","64,585","63,264","Jacksonville, FL"
19,"69,069","67,497","66,582","65,616","65,799","65,652","64,371","Miami, FL"
20,"58,573","57,667","57,994","57,548","58,276","57,639","55,540","Tallahassee, FL"
21,"87,784","84,886","82,029","82,381","81,292","80,685","79,299","Atlanta, GA"
22,"52,516","51,148","50,512","49,323","48,916","49,616","47,745","Savannah, GA"
23,"96,742","92,649","91,139","89,741","88,917","87,851","86,398","Honolulu, HI"
24,"83,242","79,608","78,042","76,516","76,395","76,576","75,989","Kauai, HI"
25,"88,438","84,963","84,035","83,816","83,535","83,344","82,113","Maui, HI"
26,"62,481","59,680","56,155","54,602","54,627","55,415","56,525","Boise, ID"
27,"79,379","76,783","75,177","75,657","75,674","74,932","75,207","Meridian, ID"
28,"77,019","74,003","72,215","71,745","71,020","70,487","68,646","Chicago, IL"
29,"70,191","68,289","66,995","65,978","66,350","65,418","64,345","Springfield, IL"
...,...,...,...,...,...,...,...,...
76,"71,737","70,179","69,143","68,209","67,487","67,071","64,948","Tulsa, OK"
77,"81,308","76,685","74,939","73,160","71,290","69,269","67,266","Portland, OR"
78,"63,148","61,721","61,165","60,972","60,360","59,100","57,354","Salem, OR"
79,"46,371","45,216","43,806","43,167","43,126","41,833","40,740","Harrisburg, PA"
80,"58,372","56,418","55,353","54,367","53,344","52,473","51,060","Philadelphia, PA"
81,"70,082","68,444","67,581","66,395","66,041","65,595","63,919","Providence, RI"
82,"81,613","80,855","77,402","76,136","73,799","72,341","69,893","Warwick, RI"
83,"81,013","77,100","75,060","72,569","71,993","71,734","70,875","Charleston, SC"
84,"66,233","63,749","63,690","64,281","63,663","62,071","60,267","Columbia, SC"
85,"67,429","66,697","66,771","71,569","68,971","67,936","62,504","Pierre, SD"
86,"72,078","69,232","68,601","67,525","68,675","68,219","67,262","Sioux Falls, SD"
87,"69,626","66,889","65,793","64,648","64,293","64,124","62,148","Nashville, TN"
88,"56,512","55,297","55,117","54,228","54,256","54,438","53,442","Memphis, TN"
89,"73,091","71,505","70,416","66,651","67,217","70,102","70,306","Austin, TX"
90,"57,023","56,657","56,319","55,486","54,668","53,280","50,505","El Paso, TX"
91,"46,814","47,040","48,127","51,250","51,914","50,611","48,323","Houston, TX"
92,"75,847","72,922","69,662","69,724","66,346","64,801","62,792","Salt Lake city, UT"
93,"65,827","61,492","61,623","60,009","60,042","60,051","58,837","West Valley City, UT"
94,"63,415","61,169","61,367","61,229","59,896","58,632","56,707","Burlington, VT"
95,"72,013","72,017","68,125","71,385","70,408","67,861","63,892","Montpelier, VT"
96,"56,748","58,774","61,340","61,382","62,477","58,993","53,407","Richmond, VA"
97,"85,960","83,834","84,615","82,870","82,827","82,073","80,180","Virginia Beach, VA"
98,"71,230","68,490","67,878","67,497","66,467","66,867","64,831","Olympia, WA"
99,"104,590","98,271","94,559","91,765","89,319","87,707","85,321","Seattle, WA"
100,"75,186","75,902","76,172","78,134","75,647","73,861","67,140","Charleston, WV"
101,"48,593","48,573","46,639","46,935","45,313","44,410","43,087","Huntington, WV"
102,"75,870","73,324","72,338","70,803","70,651","69,758","67,973","Madison, WI"
103,"62,382","60,361","59,527","58,861","58,729","58,199","57,317","Milwaukee, WI"
104,"74,867","73,761","73,296","72,340","72,323","73,620","69,635","Casper, WY"
105,"72,552","71,855","68,196","66,508","66,376","66,891","64,243","Cheyenne, WY"

In [13]:
df = df.reset_index()
display(df)
df.to_csv('cities_income.csv', encoding='utf-8', index=False)

ValueError: cannot insert level_0, already exists